html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

.title {
    height: 10%;
    text-align: center;
    color: #fff;
}

.title img {
    padding-top: 10px;
}

.bigpage {
    height: 90%;
}

body {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    background-color: #454545 !important;
}

h2 {
    font-family: 'Prompt', sans-serif;
    color: #fff;
}

.main-content {
    transform: translate3d(0, 0, 0);
}

.bigpage {
    height: 100vh;
}

.smallspacer {
    height: 5vh;
}

.graph {
    text-align: center;
}

.graph h2 {
    margin-top: 2rem;
}

.temp {
    margin-top: 5vh;
    text-align: center;
    align-items: center;
}

.temp h2 {
    margin-top: 5vh;
}

.temp iframe {
    padding-top: 10px;
    padding-bottom: 10px;
}

.temp img {
    align-self: center;
    padding-top: 2rem;
    size: 120%;
}

.button {
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.update {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    color: red;
}

.update:hover {}

.no-leftright-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}